<div style="width:1150px;margin:20px auto;">
<p><a style="    color: #000;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;" href="/">Return</a></p>
<style type="text/css">
    p{
        margin: 20px 0;
        font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    }
</style>
<div style="    font-weight: bold;
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin: 60px auto;
        width: 360px;
        height: 110px;
        position: relative;
        z-index: 2;
        letter-spacing: 2px;
        background: url('/assets/Logo-Black.png') center center no-repeat;
        background-size: cover;">
</div>
<p style="    font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;">
    <strong>PRIVACY POLICY</strong>
</p>
  <p>Maltese Militia considers the privacy and security of user information an important component of the services offered at its website, www.maltesemilitia.com (the Site). The following information explains how Maltese Militia collects and uses information obtained from users in connection with services available at the Site (taken together, the Service).</p>

  <p><b>Information Collected.</b></p>

  <p>At your election, you may request additional information about Maltese Militia. When you do so, you may need to submit certain information or data to Maltese Militia, for example, your contact information (collectively, User Data).</p>

  <p>When you visit the Site, web servers collect "traffic data" (such as, for example, time and date, the address of the website from which you entered the Site) about your visit, which is stored as anonymous, aggregate data. Collecting such data may entail the use of IP addresses or other numeric codes used to identify a computer.</p>

  <p><b>Use of Information.</b></p>

  <p>Maltese Militia uses User Data to respond to your inquiries for additional information.</p>

  <p>Maltese Militia uses "traffic data" to help diagnose problems with its server, analyze trends and administer the Site. Your IP address is not linked to personally identifiable information, but is used to gather broad demographic data and to monitor statistics to improve the Site and Service.</p>

  <p><b>Sharing of Information.</b></p>

  <p>Currently, Maltese Militia will not share personally identifiable information with any third party for commercial purposes. Maltese Militia may, however, disclose personally identifiable data if (1) reasonably necessary to perform the Service, (2) authorized by you, (3) otherwise permitted under this Privacy Policy or (4) Maltese Militia is required to do so by law or regulation, or in the good faith belief that such action is necessary to (i) conform or comply with applicable laws, regulations or legal process, (ii) protect or defend the rights or property of Maltese Militia or any other user or (iii) enforce the Terms of Use.</p>

  <p>Maltese Militia may transfer personally identifiable information to any successor to all or substantially all of its business or assets that concern the Service.</p>

  <p><b>Security.</b></p>

  <p>Information collected by Maltese Militia is stored in secure operating environments that are not made generally available to the public. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, Maltese Militia cannot ensure the security of any information you provide, and you do so at your own risk. Once Maltese Militia receives your transmission, it will make reasonable efforts to ensure its security on its systems.</p>

  <p><b>Third Party Sites.</b></p>

  <p>The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under Maltese Militia’s control. The privacy and security practices of websites linked to or from the Site are not covered by this Privacy Policy, and Maltese Militia is not responsible for the privacy or security practices or the content of such websites.</p>

  <p><b>IP Addresses and Cookies.</b></p>

  <p>Maltese Militia may use your IP address to help diagnose problems with its server, and to administer the Site. Your IP address is used to help identify you and to gather broad demographic information. IP addresses are also used to provide an audit trail in the case of any attempted illegal or unauthorized use of the Site.</p>

  <p>"Cookies" are pieces of information that a website transfers to your computer's hard disk for record-keeping purposes. Cookies in and of themselves do not personally identify users, although they do identify a user's computer. You may be able to set your web browser to refuse cookies.</p>

  <p><b>Opt-Out.</b></p>

  <p>If you change your mind about Maltese Militia's use of User Data volunteered by you, you may send an email to info@maltesemilitia.com with your electronic mail address.</p>

  <p><b>Changes.</b></p>

  <p>Maltese Militia reserves the right to change or update this Privacy Policy at any time by posting a notice at the Site. Information collected by the Service is subject to the Privacy Policy in effect at the time of use.</p>

  <p><b>Contact.</b></p>

  <p>If you have any questions regarding this Privacy Policy or your dealings at this Site, please contact Maltese Militia at info@maltesemilitia.com.</p>
</div>