<div style="width:1150px;margin:20px auto;">
  <p><a style="    color: #000;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;" href="/">Return</a></p>
  <style type="text/css">
      p{
          margin: 20px 0;
          font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      }
  </style>
  <div style="    font-weight: bold;
          font-size: 38px;
          color: #fff;
          text-transform: uppercase;
          margin: 60px auto;
          width: 360px;
          height: 110px;
          position: relative;
          z-index: 2;
          letter-spacing: 2px;
          background: url('/assets/Logo-Black.png') center center no-repeat;
          background-size: cover;">
  </div>
  <p style="    font-size: 24px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 50px;">
    <strong>TERMS OF USE</strong>
  </p>
  <p><b>OFFICIAL CONTEST RULES</b></p>

  <p>1. ENTRY:  No purchase necessary to enter or win. Contestants will enter using their primary email address.</p>

  <p>2. ELIGIBILITY: This contest is open only to legal U.S. residents, over the age of 18.  Void where prohibited by law.  Contestants residing outside the United States may participate in the contest but may not win any prizes.</p>

  <p>3. PRIZES:  Winners will receive the Maltese Militia merchandise as listed below.  Prizes are not cumulative.</p>
  <p style="margin-left:20px;">4a.  5 friends sign up = Stickers</p>
  <p style="margin-left:20px;">4b. 10 friends sign up = Wrist Wraps</p>
  <p style="margin-left:20px;">4c. 25 friends sign up = T-Shirt</p>
  <p style="margin-left:20px;">4d. 50 friends sign up = Hat and Bandana</p>
  <p style="margin-left:20px;">4e. Contestent that has the most sign ups will receive the Grand Prize display axe and mounting brackets.</p>

  <p>4. WINNER NOTIFICATION: Winners will be notified within 5 days after the determination date.  Inability to contact a winner may result in disqualification.</p>

  <p>5. NOT ENDORSED BY FACEBOOK: By participating in this contest, you acknowledge that this contest is in no way sponsored, endorsed or administered by, or associated with, Facebook and release Facebook from any and all liability arising from or related to this contest. The information you are providing for this contest is being provided to Maltese Militia and not to Facebook, and will be used to notify you if you have won, and to imform you about special offeers from Maltese Militia.</p>

  <p>6. CONDUCT: All contest participants agree to be bound by these Official Rules.  Maltese Militia in its sole discretion, reserves the right to disqualify any person it finds to be tampering with the entry process, the operation of its web site or is otherwise in violation of these rules.</p>

  <p>7. LIMITATIONS OF LIABILITY: Maltese Militia is not responsible for late, lost or misdirected email or for any computer, online, telephone or technical malfunctions that may occur.  If for any reason, the contest is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorized intervention or technical failures of any sort, Maltese Militia may cancel, terminate, modify or suspend the contest.  Entrants further agree to release Maltese Militia from any liability resulting from, or related to participation in the contest.</p>

  <p>8. REDEMPTION: Participants must redeem prize within seven days of notification.</p>


  <p><b>ACCEPTANCE OF TERMS</b></p>

  <p>The following terms and conditions govern all use of the www.maltesemilitia.com website (the Site). The Site is offered subject to acceptance without modification of any of the terms and conditions contained herein or all other operating rules, policies and procedures that may be published from time to time on this Site by Maltese Militia (collectively, the Terms of Use).</p>

  <p>if you do not agree to all of these Terms OF USE, then do not access or use the SITE. BY VIEWING THE SITE, YOU AGREE TO BE BOUND BY ALL OF THESE TERMS OF USE.</p>


  <p><b>CHANGES</b></p>

  <p>Maltese Militia reserves the right, at its sole discretion, to modify or replace any of these Terms of Use at any time. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Site following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>


  <p><b>INFORMATION AND PRIVACY</b></p>

  <p>At your election, you may request (and Maltese Militia may provide) additional information about Maltese Militia (the Service). When you do so, you may need to submit certain information or data to Maltese Militia, for example, your email address. Maltese Militia's current privacy policy is available at  http://maltesemilitia.com/pages/privacy-policy (the Privacy Policy), which is incorporated by this reference. Maltese Militia will not edit, delete or disclose the contents of your data in connection with the Service unless (1) reasonably necessary to perform the Service, (2) authorized by you, (3) otherwise permitted under the Privacy Policy or (4) Maltese Militia is required to do so by law or regulation, or in the good faith belief that such action is necessary to (i) conform or comply with applicable laws, regulations or legal process, (ii) protect or defend the rights or property of Maltese Militia or any other user or (iii) enforce these Terms of Use. Maltese Militia may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately.</p>


  <p><b>RULES OF CONDUCT</b></p>

  <p>As a condition of use, you promise not to use the Site for any purpose that is unlawful or prohibited by these Terms of Use, or any other purpose not reasonably intended by Maltese Militia. You agree to abide by all applicable local, state, national and international laws and regulations.</p>


  <p><b>THIRD PARTY SALES</b></p>

  <p>The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under Maltese Militia's control, and you acknowledge that Maltese Militia is not responsible for the accuracy, legality, appropriateness or any other aspect of the content or function of such websites. The inclusion of any such link does not imply endorsement by Maltese Militia or any association with its operators.</p>


  <p><b>PROPRIETARY RIGHTS</b></p>

  <p>You agree that all content and materials delivered via the Site and the Service or otherwise made available by Maltese Militia at the Site are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. Except as expressly authorized by Maltese Militia in writing, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such materials or content. However, you may print or download a reasonable number of copies of the materials or content at this Site for your internal business purposes; provided, that you retain all copyright and other proprietary notices contained therein.</p>


  <p><b>NO WARRANTIES</b></p>

  <p>THE SITE AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE (THE CONTENT) ARE PROVIDED "AS IS" AND "AS AVAILABLE". THE SITE, SERVICE AND CONTENT ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. MALTESE MILITIA, AND ITS AFFILIATES, LICENSORS AND SUPPLIERS DO NOT WARRANT THAT: (1) THE CONTENT IS TIMELY, ACCURATE, COMPLETE, RELIABLE OR CORRECT; (2) THE SITE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (3) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (4) THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (5) THE RESULTS OF USING THE SITE OR SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SITE AND/OR SERVICE IS SOLELY AT YOUR OWN RISK.</p>


  <p><b>LIMITATION OF LIABILITY</b></p>

  <p>IN NO EVENT SHALL MALTESE MILITIA (OR ITS AFFILIATES, LICENSORS AND SUPPLIERS) BE LIABLE CONCERNING THE SUBJECT MATTER OF THESE TERMS OF USE, REGARDLESS OF THE FORM OF ANY CLAIM OR ACTION (WHETHER IN CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE), FOR ANY (1) MATTER BEYOND ITS REASONABLE CONTROL, (2) LOSS OR INACCURACY OF DATA, LOSS OR INTERRUPTION OF USE, OR COST OF PROCURING SUBSTITUTE TECHNOLOGY, GOODS or SERVICES, OR (3) DIRECT OR INDIRECT, PUNITIVE, INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL, EVEN IF MALTESE MILITIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THIS AGREEMENT AND SHALL APPLY NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED HEREIN.</p>


  <p><b>MISCELLANEOUS</b></p>

  <p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of California, excluding its conflicts of law rules, and the United States of America. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. Maltese Militia may assign, transfer or delegate any of its rights and obligations hereunder without consent. All waivers and modifications must be in a writing signed by Maltese Militia, except as otherwise provided herein. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Use, and neither party has any authority of any kind to bind the other in any respect.</p>


  <p><b>COPYRIGHT AND TRADEMARK</b></p>

  <p>Unless otherwise indicated, these Terms of Use and all Content provided by Maltese Militia are copyright © 2015 Maltese Militia. All rights reserved.</p>

  <p>Maltese Militia and the Maltese Militia logo are trademarks of Maltese Militia.</p>


  <p><b>CONTACT</b></p>

  <p>You may contact Maltese Militia at info@maltesemilitia.com.</p>

  <p><a style="    color: #000;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;" href="/privacy-policy">CLICK HERE FOR THE PRIVACY POLICY</a></p>
</div>